<% content_for :title, " — Create" %>
<% content_for :description, "Step 2 of 3 — Create a new wheel here." %>

<div class="container-fluid" style="margin:3em 0 5em 0">
	<div class="row">

		<div class="col-lg-10 col-lg-offset-1 col-md-12">
			<div class="step">Step 2 of 3</div>
			<div class="title">Create a New Wheel</div>
			<p class="para">Complete the following table by ticking the appropriate levels against each of the nine Indicators.<br>When finished, click <strong>Create Wheel</strong>.</p>
			<%= render 'form' %>
		</div>

	</div>
</div>
