<% content_for :title, " — Create" %>
<% content_for :description, "Step 1 of 2 — Create a New Wheel" %>

<div class="container-fluid" style="margin:3em 0 5em 0">
	<div class="row">

		<div class="col-lg-10 col-lg-offset-1 col-md-12">
			<div class="step">Step 1 of 2</div>
			<div class="title">Create a New Wheel</div>
			<p class="para">Complete the following table by ticking the appropriate levels against each of the nine Indicators.</p>
			<%= render 'form' %>
		</div>

	</div>
</div>
