<div class="container-fluid" style="margin:3em 0 5em 0">
	<div class="row">

		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<div class="step">Step 1 of 3</div>
			<div class="title">Welcome</div>
			<p class="para" style="margin-bottom:2em">This online tool is designed to help Investors in People Specialists to create custom framework wheels for their advisory and assessment projects. To create a new wheel, click <strong>Get Started</strong> below.</p>
			<%= link_to "Get Started", new_wheel_path, class: "btn btn-primary btn-lg", style: "margin-bottom:3em" %>
			<div class="wheel-image">
				<%= image_tag('wheel-image.png', height: '350px') %>
			</div>
		</div>

	</div>
</div>