<div class="push"><div>

<div class="footer">
	All images courtesy of <%= link_to 'Investors in People', 'http://www.investorsinpeople.co.uk/', target: 'blank' %><br>
	Made by <%= mail_to 'david@skillsaware.com', 'David Hughes' %>
</div>