<% if user_signed_in? %>
  <div class="wheel-nav">
    <%= link_to "All Wheels", wheels_path %><span class="nav-separator">/</span>
    <%= link_to "New Wheel", new_wheel_path %><span class="nav-separator">/</span>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %><span class="nav-separator">/</span>
    Logged in as <%= current_user.email %>
  </div>
<% end %>
